{% extends 'base.html.twig' %}

{% block title %}Modification mot de passe de {{ app.user.firstName }} {{ app.user.lastName }}{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-10 offset-2">
                <h2 class="display-4 my-4">Modifier votre password</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-secondary">Modifier</button>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}