{% extends 'base.html.twig' %}

{% block title %}Fiche User de {{ app.user.firstName }} {{ app.user.lastName }}{% endblock %}

{% block body %}
    <main class="container">
        <div class="container">
            <div class="row align-items-start">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="display-4 my-4">Fiche de l'utilisateur</h2>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="{{ asset('img/avatar/') ~ app.user.image }}" class="card-img-top"
                             alt="">
                        <div class="card-body">
                            <h5 class="card-title">
                                <strong>{{ app.user.firstName }} {{ app.user.lastName }}</strong></h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum expedita,
                                molestias? Adipisci beatae dolorum, minima non odio officia pariatur vitae! Alias
                                consequatur
                                enim iusto laboriosam quisquam repellendus reprehenderit soluta? Cumque?</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Création du compte</strong>
                                : {{ app.user.createdAt|date('d/m/Y') }}</li>
                            <li class="list-group-item"><strong>Dernière mise à jour</strong>
                                : {{ app.user.updatedAt|date('d/m/Y') }}</li>
                            <li class="list-group-item"><strong>Dernière connexion</strong>
                                : {{ app.user.lastlogAt|date('d/m/Y') }}</li>
                            <li class="list-group-item"><strong>Son rôle :</strong>
                                {% if app.user.roles == ['ROLE_USER'] %}
                                    Utilisateur
                                {% elseif app.user.roles == ['ROLE_ADMIN'] %}
                                    Administrateur
                                {% else %}
                                    Super Administrateur
                                {% endif %}
                            </li>
                            <li class="list-group-item"><strong>Son adresse email</strong> : {{ app.user.email }}</li>
                        </ul>
                    </div>
                    <div class="col">
                        <div>
                            {% if app.user.comments is empty %}
                            <h5 class="text-start mx-3">Il/Elle n'a pas posté de commentaires</h5>
                            {% else %}
                            <h2 class="text-start mx-3">Les commentaires qu'il/elle a posté : </h2>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Photo du cours</th>
                                    <th>Nom du cours</th>
                                    <th>Titre du commentaire</th>
                                    <th>Date du commentaire</th>
                                    <th>Contenu</th>
                                    <th>Evaluation</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for comment in app.user.comments %}
                                    <tr>
                                        <td><img src="{{ asset('img/sections/') ~ comment.course.image }}"
                                                 alt="comment.course.name" class="img-thumbnail"></td>
                                        <td>{{ comment.course.name }}</td>
                                        <td>{{ comment.title }}</td>
                                        <td>{{ comment.createdAt|date('d/m/Y') }}</td>
                                        <td>{{ comment.comment }}</td>
                                        <td>{% include 'partials/rating.html.twig' %}</p></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
